.container {
  position: relative; }

.background {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: black; }

.triangle {
  width: 0;
  height: 0;
  border-style: solid; }

.triangle-top {
  border-width: 200px 200px 0 200px;
  border-color: #007bff transparent transparent transparent;
  position: absolute;
  top: 200px;
  left: 200px; }

.triangle-top-open {
  border-width: 0 200px 0px 200px;
  border-color: transparent transparent #007bff transparent;
  position: absolute;
  top: 200px;
  left: 200px; }

.triangle-left {
  border-width: 200px 0 200px 200px;
  border-color: transparent transparent transparent #ff00a6;
  position: absolute;
  top: 200px;
  left: 200px; }

.triangle-left-open {
  border-width: 200px 28px 200px 0;
  border-color: transparent #ff00a6 transparent transparent;
  position: absolute;
  top: 200px;
  left: 200px; }

.triangle-bottom {
  border-width: 0 200px 200px 200px;
  border-color: transparent transparent #524533 transparent;
  position: absolute;
  top: 400px;
  left: 200px; }

.triangle-bottom-open {
  border-width: 0px 200px 0 200px;
  border-color: #524533 transparent transparent transparent;
  position: absolute;
  top: 220px;
  left: 200px; }

.triangle-right {
  border-width: 200px 200px 200px 0;
  border-color: transparent #ff4858 transparent transparent;
  position: absolute;
  top: 200px;
  left: 400px; }

.triangle-right-open {
  border-width: 200px 0 200px 200px;
  border-color: transparent transparent transparent #ff4858;
  position: absolute;
  top: 200px;
  left: 200px; }
