$triangleSize: 200px;
$offset: 200px;

.container {
    position: relative;
}

.background {
    width: $triangleSize * 2;
    height: $triangleSize * 2;
    position: absolute;
    top: $offset;
    left: $offset;
    background-color: black;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-top {
    border-width: $triangleSize $triangleSize 0 $triangleSize;
    border-color: #007bff transparent transparent transparent;
    position: absolute;
    top: $offset;
    left: $offset;
}

.triangle-top-open {
    border-width: 0 $triangleSize 0px $triangleSize;
    border-color: transparent transparent #007bff transparent;  
    position: absolute;
    top: $offset;
    left: $offset;
}

.triangle-left {
    border-width: $triangleSize 0 $triangleSize $triangleSize;
    border-color: transparent transparent transparent #ff00a6;
    position: absolute;
    top: $offset;
    left: $offset;  
}

.triangle-left-open {
    border-width: $triangleSize 28px $triangleSize 0;
    border-color: transparent #ff00a6 transparent transparent;
    position: absolute;
    top: $offset;
    left: $triangleSize;   
}

.triangle-bottom {
    border-width: 0 $triangleSize $triangleSize $triangleSize;
    border-color: transparent transparent #524533 transparent;  
    position: absolute;
    top: $offset + $triangleSize;
    left: $offset;
}

.triangle-bottom-open {
    border-width: 0px $triangleSize 0 $triangleSize;
    border-color: #524533 transparent transparent transparent;    position: absolute;
    // top: $offset + 
    top: 220px;
    left: $offset;   
}

.triangle-right {
    border-width: $triangleSize $triangleSize $triangleSize 0;
    border-color: transparent #ff4858 transparent transparent;
    position: absolute;
    top: $offset;
    left: $offset + $triangleSize;
    // left: 130px;
}

.triangle-right-open {
    border-width: $triangleSize 0 $triangleSize $triangleSize;
    border-color: transparent transparent transparent #ff4858;
    position: absolute;
    top: $offset;
    left: $offset;  
}
